
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.app {
    width: 100%;
    max-width: 640px;
    height: 960px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

iframe {
    flex: 1;
    min-height: 0;
    width: 100%;
    border: none;
}

nav {
    display: flex;
    height: 70px;
}

button {
    flex: 1;
    cursor: pointer;
}
button:hover {
    background-color: lightgray;
}
button:active {
    background-color: darkgray;
}

nav {
    background-color: white;
    border-top: 1px solid black;
}

nav button:nth-child(1).active {
    background-color: #FFE4E6;
    flex-shrink: 0;
}

nav button:nth-child(2).active {
    background-color: #FFE6CC;
}

nav button:nth-child(3).active {
    background-color: #FFF5BF;
}

nav button:nth-child(4).active {
    background-color: #DCF5DC;
}

nav button:nth-child(5).active {
    background-color: #DCEEFF;
}

nav button:nth-child(6).active {
    background-color: #EAE0FF;
}

