
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.app {
    width: 100%;
    max-width: 640px;
    height: 960px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

iframe {
    flex: 1;
    min-height: 0;
    width: 100%;
    border: none;
}

nav {
    display: flex;
    height: 70px;
}

button {
    flex: 1;
    cursor: pointer;
}
button:hover {
    background-color: lightgray;
}
button:active {
    background-color: darkgray;
}
